html,
body {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  margin: 0;
}

.white-text {
  color: white;
}

.black-text {
  color: black;
}

.black-background {
  background-color: black;
}

.container {
  min-width: 960px;
  margin: 0 auto;
}

.header-container {
  background-color: #404040;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.site {
  height: 2.5rem;
  font-size: 1rem;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  height: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
}

#title {
  font-size: 1rem;
  margin-top: 0.66rem;
  margin-bottom: 0.66rem;
}

.window-container {
  height: 25rem;
  width: 100%;
  margin: 0;
  background-image: url("../img/moto.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.window {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.new-arrival {
  height: 10rem;
  width: 25rem;
  border: 1px solid white;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#new-1 {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  margin-left: 3rem;
  margin-top: 2rem;
}

#new-2 {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  margin-left: 3rem;
  margin-top: 0.25rem;
}

.nav-container {
  background-color: firebrick;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links li {
  color: white;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.items {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.large-box {
  border: 4px solid black;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.small-box {
  width: 35%;
  height: auto;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.item-pic {
  height: 9rem;
  width: 9rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*div img {
  height: 9rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}*/

#pen {
  background-image: url("../img/pen.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

#watch {
  background-image: url("../img/watch.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-position: center center;
}

#glasses {
  background-image: url("../img/glasses.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}


.text-container {
  background-color: black;
  width: 100%;
  height: auto;
}

#i {
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#ii {
  text-align: left;
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#iii {
  text-align: left;
  margin-bottom: 4rem;
}

.footer {
  background-color: black;
  height: 5rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#iv {
  text-align: left;
}
