/* Tablet */
html,
body {
  font-size: 16px;
}

.nav-container {

}

nav ul {
  max-height: 0;
}

/*
.showing {
  max-height: 2.5rem;
}*/

.handle {
  display: block;
}

.large-box {
  width: 47%;
  height: auto;
}

#thermal-glasses {
  display: none;
}
